{% extends 'base.html.twig' %}

{% block title %}Hello EntrepriseController!{% endblock %}

{% block body %}
    <h1>Liste des entreprises</h1>
    <p> Hello {{ name }}</p>
    {% for valeur in tableau %}
        <li>{{ valeur }}</li>
    {% endfor %}
{% endblock %}
